@import "./Reset.css";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*---- My theme ----*/
/* @primary-color: #529bc2; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers
@title-dark: #ebd80c; */
/*---- Common ----*/
/* // @screen-xs: 480px;
// @screen-sm: 576px;
// @screen-md: 768px;
// @screen-lg: 992px;
// @screen-xl: 1200px;
// @screen-xxl: 1600px; */
/* body {
  font-family: "Kanit", sans-serif !important;
  height: 100%;
} */
.header {
  background-color: white !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* z-index: 9997; */
}
@media only screen and (min-width: 768px) {
  .header {
    padding-left: 12px !important;
  }
}
.header-title {
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}
.real-layout {
  padding-left: 0;
  padding-right: 0;
}
.real-content {
  overflow-y: auto;
  overflow-x: hidden;
}
/* @media only screen and (min-width: 768px) {
  .real-layout {
    padding-left: 200px !important;
  }
} */
@media only screen and (max-width: 768px) {
  .header-title {
    padding: 0;
  }
}
.children-page-content {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  overflow-y: auto;
}
.full {
  height: calc(var(--vh, 1vh) * 100);
}
.loading-map {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---- Sider ----*/
.sider-weblogo {
  /* padding: 10px 0; */
  margin: 0 10px;
  width: auto;
  font-size: 24px;
  font-weight: 700;
  color: #529bc2;
}
.admin {
  /* color: #38c49a; */
  color: #5272c2;
}
.sider-menu {
  overflow-y: auto;
  overflow-x: hidden;
  /* height: calc(var(--vh, 1vh) * 60); */
  margin-top: 20px !important;
  width: 100% !important;
}
@media only screen and (max-height: 480px) {
  .sider-menu {
    height: 160px;
  }
}
.drawer {
  height: calc(var(--vh, 1vh) * 100);
}
.sider {
  height: calc(var(--vh, 1vh) * 100 - 48px);
  /* position: fixed !important;
  left: 0;
  z-index: 9998; */
}
/* .sider-menu-group-name {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
} */
.sider-bottom {
  text-align: center;
  padding: 0px 30px 20px 10px;
}
.sider-bottom-button {
  width: 100%;
  font-size: larger !important;
  font-weight: 500 !important;
}
/*---- AccidentHeatMap ----*/
.map {
  height: calc(var(--vh, 1vh) * 100 - 135px);
}
.map-alert {
  position: absolute;
  background-color: rgba(62, 61, 61, 0.8);
  color: #fff;
  top: 0px;
  z-index: 1;
  font-size: 12px;
}
.content-block-full {
  height: 100%;
}
.time-range {
  display: inline-block;
  /* display: flex; */
  /* align-items: center; */
  /* position: absolute; */
  /* z-index: 9990; */
  /* margin: 10px 10px; */
  background-color: #ffffff;
  border-radius: 10px;
  /* padding: 3px 3px; */
}
.time-range-label {
  width: 90px;
  text-align: center;
}
.time-range-picker {
  width: 130px;
}
.toggle-map {
  /* width: 110px; */
  display: inline-flex;
  justify-content: space-between;
  margin-left: 5px;
}
/*---- AccidentStatistics ----*/
/*---------- LogIn------------*/
.hero-image {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  /* background-color: #5272c2; */
  background-image: url("./assets/TuringCar.jpg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: fill;
}
.login {
  height: calc(var(--vh, 1vh) * 100);
  background-color: white;
  overflow: hidden auto;
  width: 100%;
  padding: 0 30px;
}
.login-logo {
  height: calc(var(--vh, 1vh) * 35);
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 50px;
  color: #5272c2;
}
.login-logo-text {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 0 15px;
  padding-top: 20px;
}
.login-form {
  max-width: 400px;
  align-self: center;
  margin: auto;
}
.login-label {
  font-size: 16px !important;
}
.login-button {
  width: 100%;
  margin-top: 20px;
}
.go-home {
  display: flex;
  justify-content: center;
  /* height: 100px; */
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .login {
    padding: 0 10px;
  }
  .login-logo-text {
    width: 100%;
    padding: 0 32px;
    padding-top: 20px;
  }
  .login-form {
    width: 100%;
    padding: 0 32px;
  }
  .hero-image {
    display: none;
  }
}
/*---------- AddDriver------------*/
.add-employee-modal {
  width: 90% !important;
  max-width: 800px !important;
}
/* @media only screen and (min-width: 768px) {
  .add-employee-modal {
    padding-left: 200px !important;
  }
} */
/* .add-employee-btn {
  position: absolute !important;
  right: 10px;
  top: 16px;
} */
/*---------- DriverMenu------------*/
.driver-menu {
  font-size: 16px;
}
/*---------- Cluster ------------*/
.cluster-img {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #5272c2; */
  transform: translate(-50%, -50%);
}
.cluster-text {
  position: absolute;
  text-align: center;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 800;
}
.marker:hover {
  transform: scale(1.15);
  transition: 0.6s;
}

.hideOnMobile {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .hideOnMobile {
    display: block !important;
  }
}

.hideOnDesktop {
  display: block !important;
}
@media only screen and (min-width: 768px) {
  .hideOnDesktop {
    display: none !important;
  }
}
/*-----*/
.card-title {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  /* color: #666; */
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 768px) {
  .card-title.withHeader {
    display: none;
  }
}
/*--Date-Picker--*/
.date-label {
  font-size: 16px;
  font-weight: 300;
  color: #888;
}
/*---Ranking----*/
.numberCircle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #666;
  /* color: #666; */
  text-align: center;
}
.numberCircle.rank1 {
  border: 1px solid rgb(206, 68, 68);
  background-color: rgb(206, 68, 68);
  color: white;
}
.numberCircle.rank2 {
  border: 1px solid rgb(218, 118, 118);
  background-color: rgb(218, 118, 118);
  color: white;
}
.numberCircle.rank3 {
  border: 1px solid rgb(235, 176, 176);
  background-color: rgb(235, 176, 176);
}
/*---Count----*/
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  font-size: 28px;
  font-weight: 500;
}
